*{
    margin: 0;
    padding: 0;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
    margin: 30px;
    background-color: #0B141A;

}
.heading{
    display: flex;
    padding: 10px;
    background-color: #202C33;
}
.heading h3{
    margin-top: 5px;
}
.heading p{
    margin-top: 7px;
    color: #8694A0;
}

.whatsapp{
  background-image: url(https://i.ibb.co/cgz2Cnr/default-wallpaper.png);
  width: 80%;
  margin: 0 auto;
}
.chat-whatsapp{
  margin: 10px;
}
.header-div{
  padding-left: 3px;
}
.header-div img{
  width: 7em;
}
.chat{
    width: 40%;
    margin-top: 10px;
    padding: 10px;
    background-color: #202C33;
    color: #fff;
    border-radius: 16px;
    display: inline-block;
}
.msg{ 
  font-size: 15px;
  display: flex;
    width: 80%;
    margin: 5px;
    /* background-color: dodgerblue; */
    color: #fff;
    padding: 5px 10px;
    border-radius: 16px;
}
.msg p{
  padding-right: 5px;
    word-wrap: break-word;
}

.msg #date{
  margin: 0 -60px 0 auto;
  color: #888F96;
}
#from{
    color: rgb(0, 174, 255);
}

#read-by{
  padding-left: 15px;
  padding-top: 1px;
    font-size: 15px;
    color: #888F96;
}

/* button css */
.create-chat{
  margin: 0 0 0 auto;
}
.button {
      color: #fff;
      display: block;
      position: relative;
      width: 56px;
      height: 56px;
      /* margin: 0; */
      overflow: hidden;
      outline: none;
      background-color: transparent;
      cursor: pointer;
      border: 0;
    }
    
    .button:before,
    .button:after {
      content: "";
      position: absolute;
      border-radius: 50%;
      inset: 7px;
    }
    
    .button:before {
      border: 4px solid #f0eeef;
      transition: opacity 0.4s cubic-bezier(0.77, 0, 0.175, 1) 80ms,
        transform 0.5s cubic-bezier(0.455, 0.03, 0.515, 0.955) 80ms;
    }
    
    .button:after {
      border: 4px solid #96daf0;
      transform: scale(1.3);
      transition: opacity 0.4s cubic-bezier(0.165, 0.84, 0.44, 1),
        transform 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
      opacity: 0;
    }
    
    .button:hover:before,
    .button:focus:before {
      opacity: 0;
      transform: scale(0.7);
      transition: opacity 0.4s cubic-bezier(0.165, 0.84, 0.44, 1),
        transform 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    }
    
    .button:hover:after,
    .button:focus:after {
      opacity: 1;
      transform: scale(1);
      transition: opacity 0.4s cubic-bezier(0.77, 0, 0.175, 1) 80ms,
        transform 0.5s cubic-bezier(0.455, 0.03, 0.515, 0.955) 80ms;
    }
    
    .button-box {
      display: flex;
      position: absolute;
      top: 0;
      left: 0;
    }
    
    .button-elem {
      display: block;
      width: 20px;
      height: 20px;
      margin: 17px 18px 0 18px;
      transform: rotate(180deg);
      fill: #f0eeef;
    }
    
    .button:hover .button-box,
    .button:focus .button-box {
      transition: 0.4s;
      transform: translateX(-56px);
    }

/* input card */
  .flex {
    color: #fff;
    margin-left: 5px;
    margin-top: 20px;
    display: flex;
    width: 90%;
    gap: 25px;
  }
  .form label {
    position: relative;
  }
  
  .form label .input {
    background-color: #202C33;
    color: #fff;
    width: 100%;
    padding: 20px 05px 05px 10px;
    outline: 0;
    border: 1px solid rgba(105, 105, 105, 0.397);
    border-radius: 10px;
  }
  
  .form label .input + span {
    color: rgba(255, 255, 255, 0.5);
    position: absolute;
    left: 10px;
    top: 0px;
    font-size: 0.9em;
    cursor: text;
    transition: 0.3s ease;
  }
  
  .form label .input:placeholder-shown + span {
    top: 12.5px;
    font-size: 0.9em;
  }
  
  .form label .input:focus + span,
  .form label .input:valid + span {
    color: #00bfff;
    top: 0px;
    font-size: 0.7em;
    font-weight: 600;
  }
  
  .input {
    font-size: medium;
  }

  /*form card  */
  .card {
    margin-top: 20px;
  }
  .text-box {
    height: fit-content;
    background-color: transparent;
  }
  
  .text-box .box-container {
    background-color: #202C33;
    border-radius: 0px;
    padding: 8px;
  }
  
  .text-box textarea {
    color: #fff;
    background-color: #0B141A;
    width: 97%;
    height: 40px;
    resize: none;
    border: 0;
    border-radius: 6px;
    padding-top: 5px;
    padding-left: 10px;
    font-size: 13px;
    outline: none;
    caret-color: #0a84ff;
  }
  
  .text-box .formatting {
    display: grid;
    grid-template-columns: auto auto auto auto auto 1fr;
  }
  .text-box .formatting button {
    width: 30px;
    height: 30px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border-radius: 10px;
    border: 0;
    outline: none;
  }
  
  .text-box .formatting button:hover {
    background-color: #f1f1f1;
  }
  
  .text-box .formatting .send {
    width: 100px;
    height: 30px;
    background-color: #0a84ff;
    margin: 0 0 0 auto;
  }
  
  .text-box .formatting .send:hover {
    background-color: #026eda;
  }


/* delete button  */

.chat-details{
  display: flex;
}
.form-details{
  display: flex;
  margin: 0 0 0 auto;
  gap: 5px;
}
.form-details button{
  border: 1px solid #202C33;
  border-radius: 5px;
  color: #8694A0;
  background-color: transparent;
  cursor: pointer;
}

/* //media query */

@media screen and (max-width: 800px){
        .heading h3{
            font-size: 15px;
        }
        .chat{
            width: 98%;
        }
        .msg #date{
          margin: 0 -90px 0 auto;
          color: #888F96;
        }
        .whatsapp{
            width: 100%;
        }
}
@media screen and (max-width: 500px){
    .heading h3{
        font-size: 15px;
    }
    .chat{
        width: 93%;
    }
    .msg #date{
      margin: 0 -40px 0 auto;
      color: #888F96;
    }
    .whatsapp{
      width: 100%;
  }
}
@media screen and (max-width: 375px){
    .heading h3{
        font-size: 15px;
    }
    .chat{
        width: 93%;
    }
    .msg #date{
      margin: 0 -30px 0 auto;
      color: #888F96;
    }
    .whatsapp{
      width: 100%;
  }
}